# to formate the device 
- name: Make file system
  tags: 'volumes'
  filesystem:
    fstype: ext4
    dev: /dev/vdb

# if the mounting point does not exit in the last step, we create a mounting point for it
- name: Create directory
  tags: 'volumes'
  become: yes
  file:
    path: /data
    recurse: yes
    state: directory

# mount the volume to the instance
- name: Mount device
  tags: 'volumes'
  become: yes
  mount:
    path: /data
    src: /dev/vdb
    fstype: ext4
    state: mounted

# make directory writeable 
- name: Mount device
  tags: 'volumes'    
  file:
    dest: /data
    owner: ubuntu
    recurse: yes

